@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

body {
  background: #f2f2f2;
  color: #444;
  margin: 0;
}
body * {
  font-family: "Poppins";
}
h1 {
  font-size: 14px;
}

/* header */
header {
  text-align: center;
  background: #e7e7e7;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header img {
  max-width: 60px;
  transform: rotate(-10deg);
}
header h1 {
  margin: 0;
  font-size: 1em;
  padding-top: 25px;
  margin-left: 15px;
  color: #777;
  transform: rotate(2deg);
}
.task-list {
  max-width: 640px;
  margin: 20px auto;
  font-size: 14px;
}
.task {
  padding: 20px;
  background-color: white;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  box-shadow: 2px 2px 6px rebeccapurple;
  align-items: center;
  font-size: 16px;

}

.task h1 {
  padding: 10px;
  display: inline-block;

  box-sizing: border-box;
}
.icons {
  display: inline-block;
  padding: 10px;
}
.icons i {
 margin-left: 10px;
 text-align: right;
 font-size: 1.4em;
 margin-top: 6px;
 cursor: pointer;
 color: #bbb;
}

.filter {
  width: 640px;
  margin: 10px auto;
  text-align: right;
}
.filter button {
  display: inline-block;
  margin-left: 10px;
  background: #fff; 
  border: 2px solid #555;
  border-radius: 4px;
  padding: 4px 8px;
  cursor: pointer;
   font-size: 1em;

}
.new-task-form {
  width: 640px;
  margin: 10px auto;
  text-align: center;
  background: #e7e7e7 ;
  padding: 20px 0;
}
form {
 max-width: 400px;
 margin: 0 auto;
 display: grid;
 grid-template-columns: 3fr 1fr;
 gap: 10px;
}
form button {
  background: #ffd859;
  border: 0;
  padding: 10px;
  border-radius: 60px;
  cursor: pointer;
  font-size: 1em;
}
form input {
  border: 0;
  padding: 10px;
  border-radius: 6px;
  color: #555;
  font-size: 1em;
}
